:root{ /*o : é para uma super variável (uma constante), e essa variável começara com -- */
    --cor-branco:#fff;
    --cor-cinza:#f0f2f5;
    --cor-cinza2:#dddfe2;
    --cor-escuro:#1d2129;
    --cor-azul: #1b74e4;
    --cor-azul2: #166fe5;
    --cor-verde: #42b72a;
    --cor-verde2: #36a420;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-cinza2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.conteudo{
    display:flex; /*deixamos os elementos um ao lado do outro*/
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /*deixa responsivo, quebra aos 600px*/
    width: 70vw;
   
}

.conteudo-info{
    width: 600px; /*defininfo a largura da primeira caixa*/
}

.conteudo-login{
    width: 350px;
    display: flex;
    flex-direction: column; /*deixamos em coluna*/
    align-items: center;
    gap: 1rem; /*pega a medida da fonte e calcula os espeços automático*/
}

.conteudo-login-box{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0/10%) 0px 2px 4px, rgb(0 0 0/10%) 0px 8px 16px;
    border-radius: 8px;
}

.input{
    padding: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid var(--cor-cinza2);
    outline: none; /*tira foto*/
    width: 90%;
    font-size: 17px;
    color: var(--cor-escuro);
}

.input:focus{
    border-color: var(--cor-azul);
    box-shadow: 0 0 0 2px var(--cor-cinza2);
}

.btn{
    padding: 15px;
    border: none;
    color: var(--cor-branco);
    border-radius: 5px;
    width: 100%;
    font-size: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-criar-conta{
    background-color: var(--cor-verde);
    width: auto;
}

.btn-criar-conta:hover{
    background-color: var(--cor-verde2);
}

.btn-enter{
    background-color: var(--cor-azul);
    color: var(--cor-branco);
}

.btn-enter:hover{
    background-color: var(--cor-azul2);
}

.esqueci{
    color: var(--cor-azul);
    text-decoration: none;
    cursor: pointer;
}

.esqueci:hover{
    text-decoration: underline;
}

hr{
    width: 100%;
    border: 1px solid var(--cor-cinza);
}

p{
    text-align: center;
}

h1{
    color: var(--cor-azul);
    font-size: 4em;
}

h3{
    font-size: 2em;
    font-weight: 500;
}